<%- include("partials/header.ejs") %>
    <div class="container"  >
        <div>
            <h1 class="text-center" style="text-align: center; font-size: 3rem;">Basic Banking System</h1>
            <p style="text-align: center; font-size: 2rem;">  Sparks Foundation  </p>
        </div>
        <div class="row" style="padding-top: 10rem; font-size: 2rem;" >
            <div class="col-6 col-lg-offset-3" style="font-size: larger; margin-left: 20rem;">
                <a href="/home">View all Customers</a>
            </div>
            
        </div>
    </div>
    <%- include("partials/footer.ejs") %>